{% extends 'shop/base.html' %}


{% block content %}
  <h1>FreshCo</h1>

    <form method="get">
    <input type="text" name="q" placeholder="Search...">
    <button type="submit">Go</button>
    </form>

  <p>The store has the following categories of products :</p>
    <ul>
        {% for product in products %}
            <li>{{ product.name }} - {{ product.price }}</li>
        {% endfor %}
    </ul>
  <ul>
   <h1>{{ category.name }}</h1>
        {% for product in products %}
            <h2><a href="{% url 'shop:product_list' %}">{{ product.name }}</a></h2>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}</p>
        {% endfor %}
  </ul>

    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}
