{% extends 'catalog/base.html' %}

{% block content %}

         <h1 class="card-title">FreshCo Supermarket</h1>
          <p><h4 class="card-text">The grocery store has the following products and reviews:</h4></p>
        </div>

          <h5><ul>
            <li><strong>Products:</strong> {{ num_products }}</li>
            <li><strong>Reviews:</strong> {{ num_reviews }}</li>
          </ul></h5>
        <div class="card-body">
          <p><h5>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}</h5></p>
            </div>
    </div>
{% endblock %}

<!--<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <img src="{{ product.image.url }}">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>